<div id="header" class="noselect">
   <div id="header_logo_container">
      <a href="/" id="logo">speck</a><span class="trademark_logo">&trade;</span>
   </div>
   <div id="header_link_container">
   {{#if isAuthenticated}}
      <div class="link">{{#ifEqual section 'dashboard'}}<span class="active">Dashboard</span>{{else}}<a href="/dashboard">Dashboard</a>{{/ifEqual}}</div>
      <div class="link">{{#ifEqual section 'devices'}}<span class="active">Devices</span>{{else}}<a href="/devices">Devices</a>{{/ifEqual}}</div>
      <div class="link">{{#ifEqual section 'account'}}<span class="active">Account</span>{{else}}<a href="/account">Account</a>{{/ifEqual}}</div>
      <div class="link"><a href="/logout">Log Out</a></div>
   {{else}}
{{!--
      <div class="link">{{#ifEqual section 'what-is-speck'}}<span class="active">Speck Info</span>{{else}}<a href="/what_is_speck">Speck Info</a>{{/ifEqual}}</div>
      <div class="link">{{#ifEqual section 'what-is-pm'}}<span class="active">Fine Particles</span>{{else}}<a href="/what_is_pm">Fine Particles</a>{{/ifEqual}}</div>
      <div class="link">{{#ifEqual section 'particle-sources'}}<span class="active">Particle Sources</span>{{else}}<a href="/pm_sources">Particle Sources</a>{{/ifEqual}}</div>
      <div class="link">{{#ifEqual section 'pathways-to-better-air'}}<span class="active">Pathways to Better Air</span>{{else}}<a href="/pathways_to_better_air">Pathways to Better Air</a>{{/ifEqual}}</div>
--}}
      <div class="link">{{#ifEqual section 'login'}}<span class="active">Log In</span>{{else}}<a href="/login">Log In</a>{{/ifEqual}}</div>
   {{/if}}
   </div>
   <div class="fill_line"></div>
</div>
