<div class="video_thumbnail_with_caption">
   <div class="video_thumbnail">
      <a href="//player.vimeo.com/video/{{videoId}}" data-toggle="lightbox" data-title="{{title}}"><img src="//i.vimeocdn.com/video/{{thumbnailImageFilename}}" class="video_thumbnail_image img-responsive"></a>
      <div class="play_button">
         <i class="fa fa-youtube-play"></i>
      </div>
   </div>
   <div class="caption">
      <a href="//player.vimeo.com/video/{{videoId}}" data-toggle="lightbox" data-title="{{title}}">{{caption}}</a>
   </div>
</div>
