<div class="device_and_feeds">
   <div id="device_{{id}}" class="device">{{name}}</div>
   <div id="feeds_for_device_{{id}}">
      {{#each feeds}}
         <div class="feed">
            <input type="radio" id="feed_radio_button_{{id}}" name="feed_radio_button" class="feed_radio_button" value="{{id}}"><label for="feed_radio_button_{{id}}">{{name}}</label>
         </div>
      {{/each}}
   </div>
</div>