<div id="device_list_item_{{id}}" class="panel panel-primary device_list_item">
   <div class="panel-heading">
      <div class="pull-right device_controls">
         <div class="control_button" onclick="confirmDeleteDevice({{id}});"><i class="fa fa-trash-o"></i></div>
      </div>
      <div class="pull-right">
         <div class="serial_number serial_number_header">{{serialNumberFormatted}}</div>
      </div>
      <div>
         <h3 class="panel-title">{{name}}</h3>
         <div class="serial_number serial_number_header_alt">{{serialNumberFormatted}}</div>
      </div>
   </div>
   <div class="feeds_outer_container">
      {{#if feeds}}
         <div class="feeds_container">
            {{#each feeds}}
               <div id="feed_panel_{{id}}" class="panel panel-default">
                  <div class="panel-heading">
                     <div class="pull-right feed_controls">
                        <div class="control_button" onclick="confirmDeleteFeed({{id}});"><i class="fa fa-trash-o"></i>
                        </div>
                     </div>
                     <h3 class="panel-title">{{name}}</h3>
                  </div>
                  <div class="panel-body">
                     <div class="feed_table">
                        <div class="table_row">
                           <div class="table_cell_label">
                              Visibility:
                           </div>
                           <div class="table_cell_value capitalize">
                              {{#if isPublic}}public{{else}}private{{/if}}
                           </div>
                        </div>
                        <div class="table_row">
                           <div class="table_cell_label">
                              Exposure:
                           </div>
                           <div class="table_cell_value capitalize">
                              {{exposure}}
                           </div>
                        </div>
                        <div class="table_row">
                           <div class="table_cell_label">
                              Time Range:
                           </div>
                           <div class="table_cell_value">
                              {{#if hasData}}
                                 {{minTimeSecsFormatted}} - {{maxTimeSecsFormatted}}
                              {{else}}
                                 n/a
                              {{/if}}
                           </div>
                        </div>
                        <div class="table_row">
                           <div class="table_cell_label">
                              Last Upload:
                           </div>
                           <div class="table_cell_value">
                              {{lastUploadFormatted}}
                           </div>
                        </div>
                        <div class="table_row">
                           <div class="table_cell_label">
                              Created:
                           </div>
                           <div class="table_cell_value">
                              {{createdFormatted}}
                           </div>
                        </div>
                     </div>

                  </div>
                  <div class="panel-footer feed_api_info">
                     <div class="feed_table" style="font-size: smaller">
                        <div class="table_row">
                           <div class="table_cell_label">
                              ID:
                           </div>
                           <div class="table_cell_value api_key">
                              {{id}}
                           </div>
                        </div>
                        <div class="table_row">
                           <div class="table_cell_label">
                              API Key (read-only):
                           </div>
                           <div class="table_cell_value api_key">
                              {{apiKeyReadOnly}}
                           </div>
                        </div>
                        <div class="table_row">
                           <div class="table_cell_label">
                              API Key (read-write):
                           </div>
                           <div class="table_cell_value api_key">
                              {{apiKey}}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {{/each}}
         </div>
      {{/if}}
   </div>
</div>

{{!--
 style="padding: 0 0 15px 0"
--}}