<div class="alert alert-success">
   The closest regulated sensor with recent PM<sub>2.5</sub> data is
   <a href="javascript:setFeedSelected({{nearest.id}});">{{nearest.name}}</a>.
   {{#if nearestDataSample}}
      It recorded a PM<sub>2.5</sub> value of {{nearestDataSample.value}} &mu;g/m<sup>3</sup> at {{nearestDataSample.timeStr}}.
   {{/if}}
   A plot of its historical data is shown below.
   Alternatively, the <a href="javascript:setFeedSelected({{mostRecent.id}});">{{mostRecent.name}}</a>
   station is {{distanceDiffKm}} km ({{distanceDiffMi}} mi) further away, but has data
   {{#if mostRecentDataSample}}
      ({{mostRecentDataSample.value}} &mu;g/m<sup>3</sup>)
   {{/if}}
   which is more recent by
   {{timeDiff}} hour{{hourPlurality}}.
</div>