<div class="alert alert-success">
   The closest government sensor with recent PM<sub>2.5</sub> data is
   <a href="javascript:setFeedSelected({{nearest.id}});">{{nearest.name}}</a>.
   A plot of its historical data is shown below.
   Alternatively, the <a href="javascript:setFeedSelected({{mostRecent.id}});">{{mostRecent.name}}</a>
   station is {{distanceDiffKm}} km ({{distanceDiffMi}} mi) further away, but has data which is more recent by
   {{timeDiff}} hour{{hourPlurality}}.
</div>


